<table class="table table-hover table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Fecha de nacimiento</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <!-- tr*9>(th>{$})+(td>{Nombre$})+(td>{1234567$A})+(td>{200$-0$-1$})+(td>a{Editar}+a{Borrar}) -->
        <tr *ngFor="let c of clientes">
            <th>{{c.id}}</th>
            <td>{{c.nombre}}</td>
            <td>{{c.dni}}</td>
            <td>{{c.fechaNacimiento | date: 'dd/MM/yyyy'}}</td>
            <td>
                <a class="btn btn-sm btn-primary" routerLink="/formulario/{{c.id}}">Editar</a>
                <a class="btn btn-sm btn-danger" routerLink="/listado" (click)="borrar(c.id)">Borrar</a>
            </td>
        </tr>
    </tbody>
    <tfoot class="table-dark">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a class="btn btn-sm btn-primary" routerLink="/formulario">Añadir</a>
            </td>
        </tr>
    </tfoot>
</table>