<form class="container">
    <fieldset>
        <legend>
            Cliente
        </legend>
        <div class="row mb-3">
            <label class="form-label col-sm-2" for="id">Id</label>
            <div class="col-sm-10">
                <input class="form-control" type="number" readonly [(ngModel)]="cliente.id" id="id" name="id">
            </div>
        </div>
        <div class="row mb-3">
            <label class="form-label col-sm-2" for="nombre">Nombre</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" [(ngModel)]="cliente.nombre" id="nombre" name="nombre">
            </div>
        </div>
        <div class="row mb-3">
            <label class="form-label col-sm-2" for="dni">DNI</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" [(ngModel)]="cliente.dni" id="dni" name="dni">
            </div>
        </div>
        <div class="row mb-3">
            <label class="form-label col-sm-2" for="fechaNacimiento">Fecha de nacimiento</label>
            <div class="col-sm-10">
                <input class="form-control" type="date" [(ngModel)]="cliente.fechaNacimiento" id="fechaNacimiento" name="fechaNacimiento">
            </div>
        </div>

        <button class="btn btn-primary" (click)="aceptar()">Aceptar</button>
    </fieldset>

</form>